.signup-image {
  height: 100vh;
  width: 60vw;
}

.signupContent {
  display: flex;
  flex-direction: row;
}

/* Form box */
.form-card {
  background: #fff;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin-top: 12rem;
}

.logo {
  height: 4rem;
  margin-left: 5rem;
}

.form-title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.7rem;
  margin-left: -2.2rem;
}


.form-description {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
  margin-left: -3.7rem;
  color: #666;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
}

/* Heading */
.form-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Inputs and labels */
.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: black;
  margin-left: -5rem;
}

.form-group input,
.form-group textarea {
  width: 31rem;
  padding: 10px 12px;
  border: 1px solid rgb(22, 22, 22);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
  margin-left: -5rem;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
}

/* Button */
.submit-btn {
  width: 31rem;
  padding: 12px;
  background: #F2994A;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: -4.8rem;
}

.submit-btn:hover {
  background: #0056b3;
}
